:root{
    --primary-color: rgb(0, 0, 0);
    --container-bg-color: rgba(73, 73, 73, 0.7);
    --teste: rgb(0, 28, 49);
    ;
    --menu-color: rgba(0, 0, 0, 0.8);
    --secundary-color: rgb(219, 81, 31);
    /* rgba(9, 42, 68) */
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
}

section{
    min-height: 100vh;
}

.close-menu{
    display: none;
}

/* ------ MENU ------ */

.menu ul{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
}

.menu ul li{
    padding: 10px 0;
    margin: 0 10px;
}

.menu ul li a{
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
    position: relative;
}

.menu ul li a::after{
    content: '';
    background-color: var(--secundary-color);
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.menu ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* ------ HOME ------ */

.container-home{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
    max-width: 1000px;
    padding-top: 50px;
    margin: 0 auto;
} 

.home-img img{
    max-width: 320px;
    border-radius: 40%;
    margin: 25px;
}

.description-home{
    margin: 30px;
    max-width: 350px;
} 

.description-home h1{
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.description-home h1 span{
    color: var(--secundary-color);
    text-shadow: 2px 2px 2px rgb(219, 81, 31, 0.3);
}

.description-home p{
    font-size: 18px;
    margin: 10px 0;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.3);
}

.contact a{
    text-decoration: none;
    margin: 10px;
}

/* ------ ABOUT ME ------ */
.container-about-me{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
    max-width: 900px;
    padding-top: 50px;
    margin: 0 auto;
}

.container-about-me h2{
    width: 100%;
    margin: 30px 40px;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.container-about-me p{
    min-width: 260px;
    margin: 0 40px;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.35);
    text-align: justify;
}
/* ------ SKILLS ------ */

.container-skills{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
    max-width: 900px;
    padding-top: 50px;
    margin: 0 auto;
}

.container-skills h2{
    width: 100%;
    margin: 30px 40px;
    text-align: center;
    font-size: 40px;    
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.grid-skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-gap: 25px;
    width: 850px;
    margin: 0 20px;
}

.grid-skills-items{
    padding: 20px;
    text-align: center;
    text-shadow: --text-shadows;
    background-color: var(--container-bg-color);
    border-radius: 10px;
}

/* ------ PROJECTS ------ */

.container-projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
    max-width: 900px;
    padding-top: 50px;
    margin: 0 auto;
}

.container-projects h2{
    width: 100%;
    margin: 30px 40px;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.grid-projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-gap: 25px;
    width: 850px;
    margin: 0 20px;
}

.grid-projects-items{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.grid-projects-items:hover{
    transform: scale(1.15);
    transition: 0.6s;
}

.grid-projects-items img{
    opacity: 40%;
    border-radius: 10px;
    text-align: center;
}


.title-project {
    width: 100%;
    position: absolute;
    top: 15%;
    text-align: center;
}

.title-project h3{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}



/* ------ FOOTER ------ */
footer{
    width: 100%;
    background-color: var(--secundary-color);
    padding: 8px 0;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.back-to-top{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    bottom: 6%;
    right: 6%;
    z-index: 1;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;   
}


/* ------ MEDIA QUERRIES ------ */
@media (max-width: 390px){


/* ------ ADAPTAÇÃO MENU ------ */

    .menu{
        display: none;
    }
    .menu ul{
        height: 100vh;
        background-color: var(--primary-color);
        display: flex;
        flex-flow: column nowrap;
    }

    .close-menu-label::after{
        content: '☰';
        background-color: white;
        color: var(--menu-color);
        position: fixed;
        z-index: 3;
        width: 30px;
        height: 30px;
        top: 4%;
        right: 8%;
        font-size: 20px;
        font-weight: 700;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: 'X';
    }

    /* ------ ADAPTAÇÃO CONTEÚDO ------ */
    .container-home{
        display: flex;
        flex-direction: column;
    }

    .home-img img{
        max-width: 300px;
        margin: 30px;
    }

    .grid-skills, .grid-projects{
        grid-template-columns: 1fr;
    }        

    .grid-projects-items img{
        width: 225px;
    }
}

@media (max-width:320px){
    .home-img img{
        max-width: 220px;
        margin: 30px;
    }

}